// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

$font-family-base: 'Inter', sans-serif;
$font-family-title: 'Fragment Mono', sans-serif;
$shadow-color: rgba(17, 17, 26, 0.1);